In [55]:
import pandas as pd
import matplotlib.pyplot as plt

In [56]:
df = pd.read_csv('millas_por_galon.csv')
# df['aceleracion'] = pd.to_numeric(df['aceleracion'], errors='coerce')
df['potencia'] = pd.to_numeric(df['potencia'], errors='coerce')
df.sample(5)

,nb_cilindros,desplazamiento,potencia,peso,aceleracion,anio,modelo,mpg
364,8,350.0,105.0,3725.0,19.0,81,"""oldsmobile cutlass ls""",26.6
300,8,260.0,90.0,3420.0,22.2,79,"""oldsmobile cutlass salon brougham",23.9
173,4,119.0,97.0,2545.0,17.0,75,"""datsun 710""",24.0
228,6,250.0,98.0,3525.0,19.0,77,"""ford granada""",18.5
315,4,151.0,90.0,3003.0,20.1,80,"""amc concord""",24.3

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   nb_cilindros    398 non-null    int64
 1   desplazamiento  398 non-null    float64
 2   potencia        392 non-null    float64
 3   peso            398 non-null    float64
 4   aceleracion     398 non-null    float64
 5   anio            398 non-null    int64
 6   modelo          398 non-null    object
 7   mpg             398 non-null    float64
dtypes: float64(5), int64(2), object(1)
memory usage: 25.0+ KB

In [58]:
# columnas numericas
numeric_cols = ['nb_cilindros', 'desplazamiento', 'peso', 'aceleracion', 'anio', 'mpg']

In [59]:
data = df[numeric_cols]
data.head(5)

   nb_cilindros  desplazamiento    peso  aceleracion  anio   mpg
0             8           307.0  3504.0         12.0    70  18.0
1             8           350.0  3693.0         11.5    70  15.0
2             8           318.0  3436.0         11.0    70  18.0
3             8           304.0  3433.0         12.0    70  16.0
4             8           302.0  3449.0         10.5    70  17.0

In [60]:
data.info()
display(data.describe(percentiles=[0.05, 0.25, 0.5, 0.75, 0.95]))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   nb_cilindros    398 non-null    int64
 1   desplazamiento  398 non-null    float64
 2   peso            398 non-null    float64
 3   aceleracion     398 non-null    float64
 4   anio            398 non-null    int64
 5   mpg             398 non-null    float64
dtypes: float64(4), int64(2)
memory usage: 18.8 KB

,nb_cilindros,desplazamiento,peso,aceleracion,anio,mpg
count,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000
mean,5.454774,193.425879,2970.424623,15.568090,76.010050,23.514573
std,1.701004,104.269838,846.841774,2.757689,3.697627,7.815984
min,3.000000,68.000000,1613.000000,8.000000,70.000000,9.000000
5%,4.000000,85.000000,1923.500000,11.285000,70.000000,13.000000
25%,4.000000,104.250000,2223.750000,13.825000,73.000000,17.500000
50%,4.000000,148.500000,2803.500000,15.500000,76.000000,23.000000
75%,8.000000,262.000000,3608.000000,17.175000,79.000000,29.000000
95%,8.000000,400.000000,4464.000000,20.415000,82.000000,37.030000
max,8.000000,455.000000,5140.000000,24.800000,82.000000,46.600000