In [5]:
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
df = pd.read_csv('millas_por_galon.csv')
df.sample(5)

,nb_cilindros,desplazamiento,potencia,peso,aceleracion,anio,modeo,mpg
235,4,97.0,75.00,2265.0,18.2,77,"""toyota corolla liftback""",26.0
128,6,250.0,100.0,3336.0,17.0,74,"""chevrolet nova""",15.0
376,4,91.0,68.00,2025.0,18.2,82,"""mazda glc custom l""",37.0
195,4,85.0,52.00,2035.0,22.2,76,"""chevrolet chevette""",29.0
3,8,304.0,150.0,3433.0,12.0,70,"""amc rebel sst""",16.0